<div id="second" class="container layout-two">
    <div class="row p-0 m-0">

        <div class="col-12 p-0 m-0 container-text-two">
            <h1>How do we do it?</h1>
            <h3>At EmTech Institute, we offer a wide range of<br> services designed to meet the diverse needs of<br>
                today's businesses and individuals.</h3>
        </div>
        <div class="col-12 p-0 m-0">
            <app-collapse class="container-collapse"></app-collapse>
        </div>
    </div>

</div>