<div id="second" class="container layout-two">
    <div class="row p-0 m-0 background-1">
        <div class="col-12 p-0 m-0 container-text-two">
            <h1>How do we do it?</h1>
            <h3>At EmTech Institute, we offer a wide range of<br> services designed to meet the diverse needs of<br>
                today's businesses and individuals.</h3>
        </div>
        <div class="col-12 p-0 m-0">
            <!-- <app-collapse class="container-collapse"></app-collapse> -->

            <div class="container-global collapse-container">
                <div *ngFor="let item of jsonDoIt" class="mb-3">
                    <p>
                        <button type="button" class="btn btn-outline-primary" (click)="toggleCollapse(item.id)"
                            [attr.aria-expanded]="!isCollapsed[item.id]"
                            [attr.aria-controls]="'collapseExample_' + item.id">
                            {{ item.title }}

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                [ngClass]="{'expanded': !isCollapsed[item.id], 'collapsed': isCollapsed[item.id]}"
                                class="arrow">
                                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </p>

                    <div *ngIf="!isDesktop" id="collapseExample_{{ item.id }}" #collapse="ngbCollapse"
                        [(ngbCollapse)]="isCollapsed[item.id]" class="collapse-card">
                        <div class="card">
                            <div class="card-body">{{ item.description }}</div>
                        </div>
                        <div>
                            <button class="button-collapse">{{ item.titleButton }}</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="background" *ngIf="isDesktop">
        <img src="assets/img/collapse.png" alt="">

        <div *ngFor="let item of jsonDoIt" class="mb-3">
            <div id="collapseExample_{{ item.id }}" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[item.id]" class="collapse-card">
                <hr class="custom-hr">
                <div class="card">
                    <div class="card-body">{{ item.description }}</div>
                </div>
                <div>
                    <button class="button-collapse">{{ item.titleButton }}</button>
                </div>
            </div>
        </div>
    </div>

</div>