.example-spacer {
    flex: 1 1 auto;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ajusta el valor de z-index según sea necesario para que el navbar esté por encima del resto de los elementos */
  }