@import 'src/styles';

.carrousel-data {

    .row {

        .col-6 {
            width: 50% !important;
            padding: 0;
        }
    }

    .picsum-img-wrapper {
        text-align: center;
    }

    img {
        max-width: 100%;
        border-radius: 8px;
    }

    .carousel-caption {
        text-align: center;
    }
}

.container-layout-4 {
    background-color: $azul-emtech;
    min-height: 278px;
}

.title-container {

    height: auto;

    .title-layout-4 {
        text-align: center;
        font-family: 'Proxima Nova Condensed', sans-serif;
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        color: $white-color;
        width: 45vw;
        margin: 30px auto 0 auto;
    }
}

.expand {
    display: none;
}

@media only screen and (min-width: 1025px) {

    .expand {
        display: block;
    }

    .container-layout-4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .svg-icon { 
            width: 10%;
        }

        .title-container {
            width: 30%;

            .title-layout-4 {
                text-align: left !important;
                font-size: calc(13px + 1.5vw);
                font-weight: 100;
                line-height: 34px;
                color: #FFFFFF;
                width: auto;
                margin: 0 0 0 50%;
            }

        }

        .carrousel-data {
            width: 50%;
        }

    }

}