<div id="fourth" class="row p-0 m-0 container container-global container-layout3">

    <div class="col-12 p-0 m-0 pt-3 title-container">
        <h1 class="title-layout-4">Partnership with companies all over the world.</h1>
    </div>

    <div class="col-12 p-0 m-0 carrousel-data">
        <ngb-carousel [interval]="3000" [showNavigationArrows]="false" [showNavigationIndicators]="false">

            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-6">
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/salesforce.png" alt="Random first slide" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/santander.png" alt="Random third slide" />
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-6">
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/universia.png" alt="Random third slide" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/academy.png" alt="Random third slide" />
                        </div>
                    </div>
                </div>
            </ng-template>

        </ngb-carousel>
    </div>

</div>