@use '@angular/material' as mat;
@include mat.core();


@import 'bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.min.css';


// Define the theme object.
$emtech_prueba_temp-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($emtech_prueba_temp-theme);
}

html,
body {
  height: 100%;
  // overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Styles

$azul-emtech: #1165F6;
$turquesa-emtech: #25C7D9;
$morado-emtech: #1165F6;
$azul-ultramar-emtech: #1165F6;
$azul-marino-emtech: #00215B;


.sidebar-global {
  a>img {
    width: 137px;
    height: 30px;
  }
}

// Definición de variable
$prefix: 'myapp-'; // Ejemplo de prefijo
$navbar-light-toggler-icon-bg: #fff; // Ejemplo de color de fondo

// Uso de la variable
.#{$prefix}navbar-toggler-icon {
  background-color: $navbar-light-toggler-icon-bg; // Aplicando el color de fondo
}

