@use '@angular/material' as mat;
@include mat.core();


@import 'bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.min.css';


// Define the theme object.
$emtech_prueba_temp-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($emtech_prueba_temp-theme);
}

html,
body {
  height: 100%;
  // overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Proxima Nova Condensed', sans-serif;
  font-family: 'Proxima Nova Extra Condensed', sans-serif;
}


.container {
  max-width: 100% !important;
}


// Styles

$azul-emtech: #1165F6;
$turquesa-emtech: #25C7D9;
$morado-emtech: #1165F6;
$azul-ultramar-emtech: #1165F6;
$azul-marino-emtech: #00215B;
$white-color: #FFFFFF;
$shadow-color: #E9E9E9;
$black-color: #000000;

$carousel-control-color: red;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;



.sidebar-global {
  a>img {
    width: 137px;
    height: 30px;
  }
}

.container-global {
  padding: 0;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

// Responsive

/* Movil  */
@media only screen and (max-width: 768px) {
  // Estilos para dispositivos móviles en orientación vertical
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  // Estilos para dispositivos móviles en orientación horizontal
}

/*  TABLET  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  // Estilos para tabletas en orientación vertical
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  // Estilos para tabletas en orientación horizontal
}

@media only screen and (min-width: 1025px) {

  // Header
  .navbar-brand {
    margin-left: 5%;
  }

  .container-fluid {
    margin: 20px 0;
  }

  .navbar-expand-lg .navbar-collapse {
    /* margin: 50px; */
  }


  .navbar-expand-lg .navbar-nav .nav-item a:hover,
  .navbar-expand-lg .navbar-nav .nav-item a:active {
    color: $azul-emtech;
  }

  .navbar-expand-lg .navbar-nav {
    position: absolute;
    right: 0;
    margin-right: 200px;

    .nav-item {
      margin: 0 1vw;
      position: relative;

      a {
        font-size: calc(13px + 0.5vw);
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        right: -0.5vw;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 35%;
        background-color: $azul-emtech;
      }
    }
  }

  // Layout1
  .container-1 {
    height: 878px;
    display: flex;
    overflow: hidden;
    margin-top: 90px;
  }

  .container-2 {
    height: auto;
    overflow: hidden;
    display: block;
  }

}